mini_project_clock/Debug/mini_project_clock.lss
mini_project_clock/Debug/mini_project_clock.hex
mini_project_clock/Debug/main.d
mini_project_clock/Debug/key_matrix.o
mini_project_clock/Debug/I2C_LCD.o
mini_project_clock.atsln
.vs/mini_project_clock/v14/.atsuo
mini_project_clock/Debug/mini_project_clock.srec
mini_project_clock/Debug/mini_project_clock.map
mini_project_clock/Debug/makedep.mk
mini_project_clock/Debug/main.o
mini_project_clock/Debug/UART0.d
mini_project_clock/Debug/I2C.o
mini_project_clock/Debug/I2C.d
mini_project_clock/Debug/mini_project_clock.elf
mini_project_clock/Debug/mini_project_clock.eep
mini_project_clock/Debug/key_matrix.d
mini_project_clock/Debug/UART0.o
mini_project_clock/Debug/CLCD.o
mini_project_clock/Debug/CLCD.d
mini_project_clock/mini_project_clock.cproj
mini_project_clock/mini_project_clock.componentinfo.xml
mini_project_clock/Debug/I2C_LCD.d
mini_project_clock/Debug/Makefile
